class settings:
	orion_host_url='http://orion.lab.fiware.org'
	orion_host_port=1026  #or 443
	authMethod='fiware-token'
	username='you@example.com'
	password='SECRET'
	orion_token_url='https://orion.lab.fiware.org/token'
settings=settings()
